.secrets
node_modules/
.env/
.env
buildAndPublish.sh
.DS_Store/
.DS_Store
testGitWorklows.sh
.vscode
.nx/installation
.nx/cache
.nx/workspace-data
/packages/**/.env
.idea/

project-graph.json

**/*-spec-output.md
**/*-ops.json
**/*-spec.md
**/spec-**.md
**/designDoc-**.md
**/proposedCodeEdits-**.md
**/readme-**.md
**/codeEdits-**.json
**/prompt-**.md

# dev TLS certs/keys
apps/**/certificates/*.pem
*.key
*.p12
*.pfx
*.crt

.cursor/rules/nx-rules.mdc
.github/instructions/nx.instructions.md
/dist
.verdaccio/
/tmp

# Next.js
.next
out

/apps/cli-tools/db
/apps/**/dist
/apps/**/*.vsix

# Larry worktrees files
.larry/worktrees/**/*

/apps/larry-vscode-ext/media/webview.js
/apps/larry-vscode-ext/media/webview.js.map