.secrets
node_modules/
.env/
.DS_Store/
.DS_Store
testGitWorklows.sh
.vscode
.nx/installation
.nx/cache
.nx/workspace-data
/packages/**/.env

.cursor/rules/nx-rules.mdc
.github/instructions/nx.instructions.md
/dist
.verdaccio/
/tmp