//codestrap.usw-3.palantirfoundry.com/artifacts/api/repositories/ri.artifacts.main.repository.f142bb58-f0d1-41a4-834d-b3ed834641aa/contents/release/npm/:_authToken=${FOUNDRY_TOKEN}
@hello-world:registry=https://codestrap.usw-3.palantirfoundry.com/artifacts/api/repositories/ri.artifacts.main.repository.f142bb58-f0d1-41a4-834d-b3ed834641aa/contents/release/npm