FOUNDRY_STACK_URL=https://codestrap.usw-3.palantirfoundry.com
FOUNDRY_TOKEN=<token>
FOUNDRY_TEST_USER=<id>
OSDK_CLIENT_SECRET=<secret>
OSDK_CLIENT_ID=<id>
OPEN_WEATHER_API_KEY=<key>
LOG_PREFIX=foundry-developer-foundations-x-reason
ONTOLOGY_RID=<rid>
ONTOLOGY_ID=<id>
GOOGLE_SEARCH_API_KEY=<api_key>
GOOGLE_SEARCH_ENGINE_ID=<id>
GOOGLE_SEARCH_ENGINE_MARKETS=<id>
GEMINI_API_KEY=<key>
BROWSERFY_KEY=<key>
BROWSERFY_BROWSER_URL=wss://brd-customer-hl_9e688828-zone-scraping_browser1:g1uhvx23y9wr@brd.superproxy.io:9222
RANGR_OSDK_CLIENT_ID=<id>
RANGR_OSDK_CLIENT_SECRET=<secret>
RANGR_FOUNDRY_STACK_URL=https://axis-data.palantirfoundry.com
RANGR_ONTOLOGY_RID=<rid>
OFFICE_SERVICE_ACCOUNT='vici@codestrap.me'
OPEN_AI_KEY=<key>
SLACK_CLIENT_ID=<id>
SLACK_CLIENT_SECRET=<secret>
SLACK_SIGNING_SECRET=<secret>
SLACK_BOT_TOKEN=<token>
SLACK_APP_TOKEN=<token>
SLACK_BASE_URL=https://slack.com/api
GSUITE_SERVICE_ACCOUNT="<token>"
EIA_API_KEY="<key>"
EIA_BASE_URL="https://api.eia.gov/v2/petroleum/pri/gnd/data/"
CA_SERIES_ID="<id>"
FIRECRAWL_API_KEY=<key>